<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <!-- Icono 8-bit personalizado -->
      <img src="assets/icons/home-8bit.svg" alt="Home" class="tab-icon">
    </ion-tab-button>

    <ion-tab-button tab="discover" href="/tabs/discover">
      <!-- Icono 8-bit personalizado -->
      <img src="assets/icons/search-8bit.svg" alt="Discover" class="tab-icon">
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/tabs/chat">
      <!-- Icono 8-bit personalizado -->
      <img src="assets/icons/chat-8bit.svg" alt="Chat" class="tab-icon">
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <!-- Icono 8-bit personalizado -->
      <img src="assets/icons/profile-8bit.svg" alt="Profile" class="tab-icon">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
